footer{
    background-color: $color-4;
    color: $color-1;
    margin: auto;
    padding: 20px 0px;
    text-align: center;
    i{
        text-decoration: none;
        color: $color-1;
        padding: 10px;
    }
    i:after{
        text-decoration: none;
        color: $color-7;
    }
    
    h4 {
        overflow: hidden;
        text-align: center;
    }
    h4:before,
    h4:after {
        background-color:$color-1;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    h4:before {
        right: 0.5em;
        margin-left: -50%;
    }
    h4:after {
        left: 0.5em;
        margin-right: -50%;
    }
}

/*
.social-icons{
    display: inline;
}*/